FLAG_IS_PROD='false'
FLAG_IS_DEMO_STAND='true'
FLAG_AUTHENTIK_URL='https://authentik.example.com'
FLAG_API_URL='https://gateway.example.com'
FLAG_AUTHENTIK_CLIENT_ID='your-client-id'
FLAG_DOC_SERVICE_URL='https://docs.example.com/'
FLAG_WEBIDE_URL='https://webide.example.com/'
FLAG_EAUTH_URL='http://localhost:3000'
FLAG_TEMPLATE_URL='http://template.link'
FLAG_DASHBOARD_URL='http://dashboard.link'
FLAG_EAUTH_PROXY_TARGET='https://eauth.example.com'
