@nodelib:registry=https://registry.npmjs.org/
@mrmlnc:registry=https://registry.npmjs.org/
@beeline:registry = https://nexus.vimpelcom.ru/repository/npm-all/
registry = https://nexus.vimpelcom.ru/repository/proxy__npm__group/