@font-face {
    font-display: block;
    font-family: 'BeelineIcons';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/iconfont/BeelineIcons.woff2?1773840258271') format('woff2'),
        url('../../assets/fonts/iconfont/BeelineIcons.woff?1773840258271') format('woff'),
        url('../../assets/fonts/iconfont/BeelineIcons.ttf?1773840258271') format('ttf');
}

.beeline-icons {
    font-family: 'BeelineIcons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
