.beeline-icons-QR::before {
    content: '\ea01';
}
.beeline-icons-add::before {
    content: '\ea02';
}
.beeline-icons-add_circled::before {
    content: '\ea03';
}
.beeline-icons-add_column_left::before {
    content: '\ea04';
}
.beeline-icons-add_column_right::before {
    content: '\ea05';
}
.beeline-icons-add_row_down::before {
    content: '\ea06';
}
.beeline-icons-add_row_up::before {
    content: '\ea07';
}
.beeline-icons-add_square::before {
    content: '\ea08';
}
.beeline-icons-ai_assistant::before {
    content: '\ea09';
}
.beeline-icons-ai_data::before {
    content: '\ea0a';
}
.beeline-icons-alarm::before {
    content: '\ea0b';
}
.beeline-icons-align_center::before {
    content: '\ea0c';
}
.beeline-icons-align_justify::before {
    content: '\ea0d';
}
.beeline-icons-align_left::before {
    content: '\ea0e';
}
.beeline-icons-align_right::before {
    content: '\ea0f';
}
.beeline-icons-angular::before {
    content: '\ea10';
}
.beeline-icons-antenna::before {
    content: '\ea11';
}
.beeline-icons-antenna_off::before {
    content: '\ea12';
}
.beeline-icons-antenna_signal::before {
    content: '\ea13';
}
.beeline-icons-apple_imac::before {
    content: '\ea14';
}
.beeline-icons-archive::before {
    content: '\ea15';
}
.beeline-icons-arrow_down::before {
    content: '\ea16';
}
.beeline-icons-arrow_drop_down::before {
    content: '\ea17';
}
.beeline-icons-arrow_drop_up::before {
    content: '\ea18';
}
.beeline-icons-arrow_left::before {
    content: '\ea19';
}
.beeline-icons-arrow_right::before {
    content: '\ea1a';
}
.beeline-icons-arrow_separate::before {
    content: '\ea1b';
}
.beeline-icons-arrow_separate_vertical::before {
    content: '\ea1c';
}
.beeline-icons-arrow_union::before {
    content: '\ea1d';
}
.beeline-icons-arrow_union_vertical::before {
    content: '\ea1e';
}
.beeline-icons-arrow_up::before {
    content: '\ea1f';
}
.beeline-icons-arrows::before {
    content: '\ea20';
}
.beeline-icons-asterisk::before {
    content: '\ea21';
}
.beeline-icons-attachment::before {
    content: '\ea22';
}
.beeline-icons-autopay::before {
    content: '\ea23';
}
.beeline-icons-backspace::before {
    content: '\ea24';
}
.beeline-icons-badge::before {
    content: '\ea25';
}
.beeline-icons-block::before {
    content: '\ea26';
}
.beeline-icons-bluetooth::before {
    content: '\ea27';
}
.beeline-icons-boat::before {
    content: '\ea28';
}
.beeline-icons-bold::before {
    content: '\ea29';
}
.beeline-icons-book::before {
    content: '\ea2a';
}
.beeline-icons-bookmark_empty::before {
    content: '\ea2b';
}
.beeline-icons-bookmark_full::before {
    content: '\ea2c';
}
.beeline-icons-broken_heart::before {
    content: '\ea2d';
}
.beeline-icons-bug::before {
    content: '\ea2e';
}
.beeline-icons-building::before {
    content: '\ea2f';
}
.beeline-icons-bus::before {
    content: '\ea30';
}
.beeline-icons-cable::before {
    content: '\ea31';
}
.beeline-icons-cake::before {
    content: '\ea32';
}
.beeline-icons-calendar::before {
    content: '\ea33';
}
.beeline-icons-calltracking::before {
    content: '\ea34';
}
.beeline-icons-camera::before {
    content: '\ea35';
}
.beeline-icons-cancel::before {
    content: '\ea36';
}
.beeline-icons-capability::before {
    content: '\ea37';
}
.beeline-icons-car::before {
    content: '\ea38';
}
.beeline-icons-cart::before {
    content: '\ea39';
}
.beeline-icons-cash-register::before {
    content: '\ea3a';
}
.beeline-icons-cat::before {
    content: '\ea3b';
}
.beeline-icons-catalog::before {
    content: '\ea3c';
}
.beeline-icons-cctv::before {
    content: '\ea3d';
}
.beeline-icons-cell::before {
    content: '\ea3e';
}
.beeline-icons-certificate::before {
    content: '\ea3f';
}
.beeline-icons-change::before {
    content: '\ea40';
}
.beeline-icons-change_users::before {
    content: '\ea41';
}
.beeline-icons-chat::before {
    content: '\ea42';
}
.beeline-icons-chat_add::before {
    content: '\ea43';
}
.beeline-icons-chat_full::before {
    content: '\ea44';
}
.beeline-icons-check::before {
    content: '\ea45';
}
.beeline-icons-check_circled::before {
    content: '\ea46';
}
.beeline-icons-checkbox::before {
    content: '\ea47';
}
.beeline-icons-city::before {
    content: '\ea48';
}
.beeline-icons-clear_filter::before {
    content: '\ea49';
}
.beeline-icons-clock::before {
    content: '\ea4a';
}
.beeline-icons-clockwise::before {
    content: '\ea4b';
}
.beeline-icons-close::before {
    content: '\ea4c';
}
.beeline-icons-cloud::before {
    content: '\ea4d';
}
.beeline-icons-cloud_book::before {
    content: '\ea4e';
}
.beeline-icons-cloud_check::before {
    content: '\ea4f';
}
.beeline-icons-cloud_desync::before {
    content: '\ea50';
}
.beeline-icons-cloud_download::before {
    content: '\ea51';
}
.beeline-icons-cloud_error::before {
    content: '\ea52';
}
.beeline-icons-cloud_sync::before {
    content: '\ea53';
}
.beeline-icons-cloud_upload::before {
    content: '\ea54';
}
.beeline-icons-code::before {
    content: '\ea55';
}
.beeline-icons-coffee::before {
    content: '\ea56';
}
.beeline-icons-collapse::before {
    content: '\ea57';
}
.beeline-icons-commutation_traffic::before {
    content: '\ea58';
}
.beeline-icons-computer::before {
    content: '\ea59';
}
.beeline-icons-connect::before {
    content: '\ea5a';
}
.beeline-icons-copy::before {
    content: '\ea5b';
}
.beeline-icons-copy_full::before {
    content: '\ea5c';
}
.beeline-icons-corner_bottom_left::before {
    content: '\ea5d';
}
.beeline-icons-corner_bottom_right::before {
    content: '\ea5e';
}
.beeline-icons-corner_top_left::before {
    content: '\ea5f';
}
.beeline-icons-corner_top_right::before {
    content: '\ea60';
}
.beeline-icons-counterclockwise::before {
    content: '\ea61';
}
.beeline-icons-cpu::before {
    content: '\ea62';
}
.beeline-icons-cpu_warning::before {
    content: '\ea63';
}
.beeline-icons-credit_card::before {
    content: '\ea64';
}
.beeline-icons-credit_card_off::before {
    content: '\ea65';
}
.beeline-icons-cycle::before {
    content: '\ea66';
}
.beeline-icons-dashboard_dots::before {
    content: '\ea67';
}
.beeline-icons-data_transfer_both::before {
    content: '\ea68';
}
.beeline-icons-data_transfer_check::before {
    content: '\ea69';
}
.beeline-icons-data_transfer_down::before {
    content: '\ea6a';
}
.beeline-icons-data_transfer_up::before {
    content: '\ea6b';
}
.beeline-icons-data_transfer_warning::before {
    content: '\ea6c';
}
.beeline-icons-database::before {
    content: '\ea6d';
}
.beeline-icons-database_backup::before {
    content: '\ea6e';
}
.beeline-icons-database_check::before {
    content: '\ea6f';
}
.beeline-icons-database_error::before {
    content: '\ea70';
}
.beeline-icons-database_export::before {
    content: '\ea71';
}
.beeline-icons-database_restore::before {
    content: '\ea72';
}
.beeline-icons-database_search::before {
    content: '\ea73';
}
.beeline-icons-database_settings::before {
    content: '\ea74';
}
.beeline-icons-database_stats::before {
    content: '\ea75';
}
.beeline-icons-database_warning::before {
    content: '\ea76';
}
.beeline-icons-delete::before {
    content: '\ea77';
}
.beeline-icons-delivery::before {
    content: '\ea78';
}
.beeline-icons-demolish::before {
    content: '\ea79';
}
.beeline-icons-dialpad::before {
    content: '\ea7a';
}
.beeline-icons-disconnect::before {
    content: '\ea7b';
}
.beeline-icons-dislike::before {
    content: '\ea7c';
}
.beeline-icons-dislike_fill::before {
    content: '\ea7d';
}
.beeline-icons-display_4k::before {
    content: '\ea7e';
}
.beeline-icons-dollar::before {
    content: '\ea7f';
}
.beeline-icons-domain::before {
    content: '\ea80';
}
.beeline-icons-dot::before {
    content: '\ea81';
}
.beeline-icons-double_check::before {
    content: '\ea82';
}
.beeline-icons-download::before {
    content: '\ea83';
}
.beeline-icons-drag_indicator::before {
    content: '\ea84';
}
.beeline-icons-eco::before {
    content: '\ea85';
}
.beeline-icons-edit::before {
    content: '\ea86';
}
.beeline-icons-electronics_chip::before {
    content: '\ea87';
}
.beeline-icons-elevator::before {
    content: '\ea88';
}
.beeline-icons-emoji::before {
    content: '\ea89';
}
.beeline-icons-emoji_happy::before {
    content: '\ea8a';
}
.beeline-icons-emoji_neutral::before {
    content: '\ea8b';
}
.beeline-icons-emoji_sad::before {
    content: '\ea8c';
}
.beeline-icons-emoji_upset::before {
    content: '\ea8d';
}
.beeline-icons-energetics::before {
    content: '\ea8e';
}
.beeline-icons-equal::before {
    content: '\ea8f';
}
.beeline-icons-equals::before {
    content: '\ea90';
}
.beeline-icons-euro::before {
    content: '\ea91';
}
.beeline-icons-expand::before {
    content: '\ea92';
}
.beeline-icons-eye::before {
    content: '\ea93';
}
.beeline-icons-eye_off::before {
    content: '\ea94';
}
.beeline-icons-face_id::before {
    content: '\ea95';
}
.beeline-icons-factory::before {
    content: '\ea96';
}
.beeline-icons-family::before {
    content: '\ea97';
}
.beeline-icons-fast_arrow_down::before {
    content: '\ea98';
}
.beeline-icons-fast_arrow_left::before {
    content: '\ea99';
}
.beeline-icons-fast_arrow_right::before {
    content: '\ea9a';
}
.beeline-icons-fast_arrow_top::before {
    content: '\ea9b';
}
.beeline-icons-feather_pen::before {
    content: '\ea9c';
}
.beeline-icons-filter::before {
    content: '\ea9d';
}
.beeline-icons-fingerprint_scan::before {
    content: '\ea9e';
}
.beeline-icons-fire::before {
    content: '\ea9f';
}
.beeline-icons-flag::before {
    content: '\eaa0';
}
.beeline-icons-flash::before {
    content: '\eaa1';
}
.beeline-icons-flash_full::before {
    content: '\eaa2';
}
.beeline-icons-folder::before {
    content: '\eaa3';
}
.beeline-icons-folder_add::before {
    content: '\eaa4';
}
.beeline-icons-folder_alert::before {
    content: '\eaa5';
}
.beeline-icons-folder_remove::before {
    content: '\eaa6';
}
.beeline-icons-forward::before {
    content: '\eaa7';
}
.beeline-icons-foundation::before {
    content: '\eaa8';
}
.beeline-icons-gamepad::before {
    content: '\eaa9';
}
.beeline-icons-gift::before {
    content: '\eaaa';
}
.beeline-icons-gitlab::before {
    content: '\eaab';
}
.beeline-icons-goal::before {
    content: '\eaac';
}
.beeline-icons-graph_down::before {
    content: '\eaad';
}
.beeline-icons-graph_up::before {
    content: '\eaae';
}
.beeline-icons-grid::before {
    content: '\eaaf';
}
.beeline-icons-grid_add::before {
    content: '\eab0';
}
.beeline-icons-grid_minus::before {
    content: '\eab1';
}
.beeline-icons-grid_remove::before {
    content: '\eab2';
}
.beeline-icons-group::before {
    content: '\eab3';
}
.beeline-icons-group_elements::before {
    content: '\eab4';
}
.beeline-icons-half_moon::before {
    content: '\eab5';
}
.beeline-icons-handshake::before {
    content: '\eab6';
}
.beeline-icons-hanger::before {
    content: '\eab7';
}
.beeline-icons-hard_drive::before {
    content: '\eab8';
}
.beeline-icons-headset::before {
    content: '\eab9';
}
.beeline-icons-headset_help::before {
    content: '\eaba';
}
.beeline-icons-headset_issue::before {
    content: '\eabb';
}
.beeline-icons-heart::before {
    content: '\eabc';
}
.beeline-icons-heart_full::before {
    content: '\eabd';
}
.beeline-icons-help::before {
    content: '\eabe';
}
.beeline-icons-home::before {
    content: '\eabf';
}
.beeline-icons-hospital::before {
    content: '\eac0';
}
.beeline-icons-hourglass::before {
    content: '\eac1';
}
.beeline-icons-iframe::before {
    content: '\eac2';
}
.beeline-icons-image::before {
    content: '\eac3';
}
.beeline-icons-import::before {
    content: '\eac4';
}
.beeline-icons-income_done::before {
    content: '\eac5';
}
.beeline-icons-income_error::before {
    content: '\eac6';
}
.beeline-icons-infinity::before {
    content: '\eac7';
}
.beeline-icons-info::before {
    content: '\eac8';
}
.beeline-icons-info_circled::before {
    content: '\eac9';
}
.beeline-icons-integration::before {
    content: '\eaca';
}
.beeline-icons-iot::before {
    content: '\eacb';
}
.beeline-icons-italic::before {
    content: '\eacc';
}
.beeline-icons-journal::before {
    content: '\eacd';
}
.beeline-icons-key::before {
    content: '\eace';
}
.beeline-icons-label::before {
    content: '\eacf';
}
.beeline-icons-language::before {
    content: '\ead0';
}
.beeline-icons-laptop::before {
    content: '\ead1';
}
.beeline-icons-laptop_off::before {
    content: '\ead2';
}
.beeline-icons-layout::before {
    content: '\ead3';
}
.beeline-icons-layout_full::before {
    content: '\ead4';
}
.beeline-icons-layout_left::before {
    content: '\ead5';
}
.beeline-icons-layout_right::before {
    content: '\ead6';
}
.beeline-icons-lifebelt::before {
    content: '\ead7';
}
.beeline-icons-like::before {
    content: '\ead8';
}
.beeline-icons-like_fill::before {
    content: '\ead9';
}
.beeline-icons-limit::before {
    content: '\eada';
}
.beeline-icons-line_space::before {
    content: '\eadb';
}
.beeline-icons-link::before {
    content: '\eadc';
}
.beeline-icons-list::before {
    content: '\eadd';
}
.beeline-icons-list_numbers::before {
    content: '\eade';
}
.beeline-icons-lock::before {
    content: '\eadf';
}
.beeline-icons-lock_off::before {
    content: '\eae0';
}
.beeline-icons-log_in::before {
    content: '\eae1';
}
.beeline-icons-log_out::before {
    content: '\eae2';
}
.beeline-icons-logistic::before {
    content: '\eae3';
}
.beeline-icons-magic::before {
    content: '\eae4';
}
.beeline-icons-mail::before {
    content: '\eae5';
}
.beeline-icons-mail_delete::before {
    content: '\eae6';
}
.beeline-icons-mail_off::before {
    content: '\eae7';
}
.beeline-icons-mail_opened::before {
    content: '\eae8';
}
.beeline-icons-map::before {
    content: '\eae9';
}
.beeline-icons-megaphone::before {
    content: '\eaea';
}
.beeline-icons-menu::before {
    content: '\eaeb';
}
.beeline-icons-menu_open::before {
    content: '\eaec';
}
.beeline-icons-merge::before {
    content: '\eaed';
}
.beeline-icons-message::before {
    content: '\eaee';
}
.beeline-icons-message_alert::before {
    content: '\eaef';
}
.beeline-icons-message_alert_full::before {
    content: '\eaf0';
}
.beeline-icons-message_text::before {
    content: '\eaf1';
}
.beeline-icons-message_text_full::before {
    content: '\eaf2';
}
.beeline-icons-mic::before {
    content: '\eaf3';
}
.beeline-icons-mic_mute::before {
    content: '\eaf4';
}
.beeline-icons-moon::before {
    content: '\eaf5';
}
.beeline-icons-more_horiz::before {
    content: '\eaf6';
}
.beeline-icons-more_vert::before {
    content: '\eaf7';
}
.beeline-icons-mouse::before {
    content: '\eaf8';
}
.beeline-icons-mouse_button_left::before {
    content: '\eaf9';
}
.beeline-icons-mouse_button_right::before {
    content: '\eafa';
}
.beeline-icons-mouse_scroll_wheel::before {
    content: '\eafb';
}
.beeline-icons-multi_bubble::before {
    content: '\eafc';
}
.beeline-icons-multichannel::before {
    content: '\eafd';
}
.beeline-icons-music::before {
    content: '\eafe';
}
.beeline-icons-nature::before {
    content: '\eaff';
}
.beeline-icons-nav_arrow_down::before {
    content: '\eb00';
}
.beeline-icons-nav_arrow_left::before {
    content: '\eb01';
}
.beeline-icons-nav_arrow_right::before {
    content: '\eb02';
}
.beeline-icons-nav_arrow_up::before {
    content: '\eb03';
}
.beeline-icons-nav_collapse::before {
    content: '\eb04';
}
.beeline-icons-nav_expand::before {
    content: '\eb05';
}
.beeline-icons-network::before {
    content: '\eb06';
}
.beeline-icons-network_alt::before {
    content: '\eb07';
}
.beeline-icons-network_left::before {
    content: '\eb08';
}
.beeline-icons-network_right::before {
    content: '\eb09';
}
.beeline-icons-new_sms::before {
    content: '\eb0a';
}
.beeline-icons-not_equal::before {
    content: '\eb0b';
}
.beeline-icons-notes::before {
    content: '\eb0c';
}
.beeline-icons-notification::before {
    content: '\eb0d';
}
.beeline-icons-notification_new::before {
    content: '\eb0e';
}
.beeline-icons-notification_off::before {
    content: '\eb0f';
}
.beeline-icons-ofd::before {
    content: '\eb10';
}
.beeline-icons-open::before {
    content: '\eb11';
}
.beeline-icons-open_in_browser::before {
    content: '\eb12';
}
.beeline-icons-open_in_window::before {
    content: '\eb13';
}
.beeline-icons-outcome_done::before {
    content: '\eb14';
}
.beeline-icons-outcome_error::before {
    content: '\eb15';
}
.beeline-icons-page::before {
    content: '\eb16';
}
.beeline-icons-page_add::before {
    content: '\eb17';
}
.beeline-icons-page_empty::before {
    content: '\eb18';
}
.beeline-icons-page_remove::before {
    content: '\eb19';
}
.beeline-icons-page_search::before {
    content: '\eb1a';
}
.beeline-icons-page_star::before {
    content: '\eb1b';
}
.beeline-icons-pages_multiple::before {
    content: '\eb1c';
}
.beeline-icons-pages_multiple_add::before {
    content: '\eb1d';
}
.beeline-icons-pages_multiple_delete::before {
    content: '\eb1e';
}
.beeline-icons-pages_multiple_empty::before {
    content: '\eb1f';
}
.beeline-icons-pages_multiple_remove::before {
    content: '\eb20';
}
.beeline-icons-palette::before {
    content: '\eb21';
}
.beeline-icons-passport::before {
    content: '\eb22';
}
.beeline-icons-pause::before {
    content: '\eb23';
}
.beeline-icons-pds::before {
    content: '\eb24';
}
.beeline-icons-percentage::before {
    content: '\eb25';
}
.beeline-icons-phone::before {
    content: '\eb26';
}
.beeline-icons-phone_add::before {
    content: '\eb27';
}
.beeline-icons-phone_delete::before {
    content: '\eb28';
}
.beeline-icons-phone_disabled::before {
    content: '\eb29';
}
.beeline-icons-phone_income::before {
    content: '\eb2a';
}
.beeline-icons-phone_outcome::before {
    content: '\eb2b';
}
.beeline-icons-phone_paused::before {
    content: '\eb2c';
}
.beeline-icons-phone_remove::before {
    content: '\eb2d';
}
.beeline-icons-pin::before {
    content: '\eb2e';
}
.beeline-icons-pin_add::before {
    content: '\eb2f';
}
.beeline-icons-pin_full::before {
    content: '\eb30';
}
.beeline-icons-pinnned::before {
    content: '\eb31';
}
.beeline-icons-pipeline::before {
    content: '\eb32';
}
.beeline-icons-plane::before {
    content: '\eb33';
}
.beeline-icons-planet::before {
    content: '\eb34';
}
.beeline-icons-play::before {
    content: '\eb35';
}
.beeline-icons-playlist_play::before {
    content: '\eb36';
}
.beeline-icons-plumbing::before {
    content: '\eb37';
}
.beeline-icons-position::before {
    content: '\eb38';
}
.beeline-icons-power_off::before {
    content: '\eb39';
}
.beeline-icons-presentation::before {
    content: '\eb3a';
}
.beeline-icons-printer::before {
    content: '\eb3b';
}
.beeline-icons-profile_circled::before {
    content: '\eb3c';
}
.beeline-icons-puzzle::before {
    content: '\eb3d';
}
.beeline-icons-question::before {
    content: '\eb3e';
}
.beeline-icons-question_circled::before {
    content: '\eb3f';
}
.beeline-icons-radar::before {
    content: '\eb40';
}
.beeline-icons-redo::before {
    content: '\eb41';
}
.beeline-icons-refresh::before {
    content: '\eb42';
}
.beeline-icons-refresh_double::before {
    content: '\eb43';
}
.beeline-icons-remove::before {
    content: '\eb44';
}
.beeline-icons-remove_square::before {
    content: '\eb45';
}
.beeline-icons-rename::before {
    content: '\eb46';
}
.beeline-icons-reply::before {
    content: '\eb47';
}
.beeline-icons-report_columns::before {
    content: '\eb48';
}
.beeline-icons-reports::before {
    content: '\eb49';
}
.beeline-icons-restaurant::before {
    content: '\eb4a';
}
.beeline-icons-rewind::before {
    content: '\eb4b';
}
.beeline-icons-robot::before {
    content: '\eb4c';
}
.beeline-icons-router::before {
    content: '\eb4d';
}
.beeline-icons-ruble::before {
    content: '\eb4e';
}
.beeline-icons-ruler_pencil::before {
    content: '\eb4f';
}
.beeline-icons-safebox::before {
    content: '\eb50';
}
.beeline-icons-sales_funnel::before {
    content: '\eb51';
}
.beeline-icons-satellite::before {
    content: '\eb52';
}
.beeline-icons-save::before {
    content: '\eb53';
}
.beeline-icons-scanning::before {
    content: '\eb54';
}
.beeline-icons-search::before {
    content: '\eb55';
}
.beeline-icons-security::before {
    content: '\eb56';
}
.beeline-icons-segment::before {
    content: '\eb57';
}
.beeline-icons-send::before {
    content: '\eb58';
}
.beeline-icons-server::before {
    content: '\eb59';
}
.beeline-icons-server_connection::before {
    content: '\eb5a';
}
.beeline-icons-services::before {
    content: '\eb5b';
}
.beeline-icons-services_full::before {
    content: '\eb5c';
}
.beeline-icons-setting_menu::before {
    content: '\eb5d';
}
.beeline-icons-settings::before {
    content: '\eb5e';
}
.beeline-icons-share_android::before {
    content: '\eb5f';
}
.beeline-icons-share_ios::before {
    content: '\eb60';
}
.beeline-icons-shop::before {
    content: '\eb61';
}
.beeline-icons-shopping_bag::before {
    content: '\eb62';
}
.beeline-icons-shopping_bag_full::before {
    content: '\eb63';
}
.beeline-icons-shower::before {
    content: '\eb64';
}
.beeline-icons-signature::before {
    content: '\eb65';
}
.beeline-icons-silent::before {
    content: '\eb66';
}
.beeline-icons-sim::before {
    content: '\eb67';
}
.beeline-icons-skip_next::before {
    content: '\eb68';
}
.beeline-icons-skip_prev::before {
    content: '\eb69';
}
.beeline-icons-smartphone::before {
    content: '\eb6a';
}
.beeline-icons-sms::before {
    content: '\eb6b';
}
.beeline-icons-software::before {
    content: '\eb6c';
}
.beeline-icons-sort_down::before {
    content: '\eb6d';
}
.beeline-icons-sort_up::before {
    content: '\eb6e';
}
.beeline-icons-sound_high::before {
    content: '\eb6f';
}
.beeline-icons-sound_low::before {
    content: '\eb70';
}
.beeline-icons-sound_min::before {
    content: '\eb71';
}
.beeline-icons-sound_off::before {
    content: '\eb72';
}
.beeline-icons-split::before {
    content: '\eb73';
}
.beeline-icons-stair::before {
    content: '\eb74';
}
.beeline-icons-star::before {
    content: '\eb75';
}
.beeline-icons-star_full::before {
    content: '\eb76';
}
.beeline-icons-stat_down::before {
    content: '\eb77';
}
.beeline-icons-stat_square_down::before {
    content: '\eb78';
}
.beeline-icons-stat_square_up::before {
    content: '\eb79';
}
.beeline-icons-stat_up::before {
    content: '\eb7a';
}
.beeline-icons-state::before {
    content: '\eb7b';
}
.beeline-icons-suitcase::before {
    content: '\eb7c';
}
.beeline-icons-sun::before {
    content: '\eb7d';
}
.beeline-icons-table::before {
    content: '\eb7e';
}
.beeline-icons-table_columns::before {
    content: '\eb7f';
}
.beeline-icons-table_rows::before {
    content: '\eb80';
}
.beeline-icons-tasks::before {
    content: '\eb81';
}
.beeline-icons-taxi::before {
    content: '\eb82';
}
.beeline-icons-terminal::before {
    content: '\eb83';
}
.beeline-icons-text::before {
    content: '\eb84';
}
.beeline-icons-text_bg::before {
    content: '\eb85';
}
.beeline-icons-text_color::before {
    content: '\eb86';
}
.beeline-icons-text_size::before {
    content: '\eb87';
}
.beeline-icons-thermometer::before {
    content: '\eb88';
}
.beeline-icons-timer::before {
    content: '\eb89';
}
.beeline-icons-timer_off::before {
    content: '\eb8a';
}
.beeline-icons-toilet_man::before {
    content: '\eb8b';
}
.beeline-icons-toilet_woman::before {
    content: '\eb8c';
}
.beeline-icons-train::before {
    content: '\eb8d';
}
.beeline-icons-tune::before {
    content: '\eb8e';
}
.beeline-icons-tv::before {
    content: '\eb8f';
}
.beeline-icons-tv_modern::before {
    content: '\eb90';
}
.beeline-icons-tv_receiver::before {
    content: '\eb91';
}
.beeline-icons-underline::before {
    content: '\eb92';
}
.beeline-icons-undo::before {
    content: '\eb93';
}
.beeline-icons-unlimited_sms::before {
    content: '\eb94';
}
.beeline-icons-unlink::before {
    content: '\eb95';
}
.beeline-icons-upload::before {
    content: '\eb96';
}
.beeline-icons-usb::before {
    content: '\eb97';
}
.beeline-icons-user::before {
    content: '\eb98';
}
.beeline-icons-user_add::before {
    content: '\eb99';
}
.beeline-icons-user_remove::before {
    content: '\eb9a';
}
.beeline-icons-user_search::before {
    content: '\eb9b';
}
.beeline-icons-user_verified::before {
    content: '\eb9c';
}
.beeline-icons-variables::before {
    content: '\eb9d';
}
.beeline-icons-video_camera::before {
    content: '\eb9e';
}
.beeline-icons-video_camera_off::before {
    content: '\eb9f';
}
.beeline-icons-view_columns_2::before {
    content: '\eba0';
}
.beeline-icons-view_columns_3::before {
    content: '\eba1';
}
.beeline-icons-view_structure_down::before {
    content: '\eba2';
}
.beeline-icons-view_structure_up::before {
    content: '\eba3';
}
.beeline-icons-voice::before {
    content: '\eba4';
}
.beeline-icons-voice_error::before {
    content: '\eba5';
}
.beeline-icons-voice_ok::before {
    content: '\eba6';
}
.beeline-icons-vue::before {
    content: '\eba7';
}
.beeline-icons-wallet::before {
    content: '\eba8';
}
.beeline-icons-wallet_full::before {
    content: '\eba9';
}
.beeline-icons-warning_circled::before {
    content: '\ebaa';
}
.beeline-icons-warning_triangle::before {
    content: '\ebab';
}
.beeline-icons-wifi::before {
    content: '\ebac';
}
.beeline-icons-wifi_issue::before {
    content: '\ebad';
}
.beeline-icons-wifi_off::before {
    content: '\ebae';
}
.beeline-icons-wifi_signal_none::before {
    content: '\ebaf';
}
.beeline-icons-wrap_text::before {
    content: '\ebb0';
}
.beeline-icons-wristwatch::before {
    content: '\ebb1';
}
.beeline-icons-zoom_in::before {
    content: '\ebb2';
}
.beeline-icons-zoom_out::before {
    content: '\ebb3';
}
